#root {
  max-width: 620px;
  max-height: 500px;

  margin: 0 auto;
}

button {
  padding: 3px 10px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.18);

  background-color: white;
}

button:hover {
  cursor: pointer;
}

ul,
li {
  margin: 0;
  list-style: none;
}
